
<div class="col-xs-2" id="leftmenu">
				<div class="col-xs-12" style="margin-top: 15px">

				
				<div class="list-group">
					<a href="/visite" class="list-group-item list-group-item-info">Accueil Liste</a>
  					<a href="/ajouterVisite" class="list-group-item list-group-item-info">Ajouter</a>
  					<a href="/modifierVisite" class="list-group-item list-group-item-info">Modifier</a>
  					<a href="/supprimerVisite" class="list-group-item list-group-item-info">Supprimer</a>
  					<a href="/chercherVisite" class="list-group-item list-group-item-info">Chercher</a>
				</div>
				
		</div>
</div>	
			</div>
	
		<div class="col-xs-10" id="maincontent">
		<h3 align="center">Chercher par ID  </h3>
<form class="form-horizontal">

	<div class="form-group">
		<label for="inputIdVisite" class="col-sm-2 control-label">Id :</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" id="inputIdVisite"
				placeholder="Id" ng-model="idVisite">
		</div>
	</div>

	
	<!-- SOUMISSION DU FORMULAIRE MA GUEULE -->
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary" ng-click="get()">Chercher</button>
	</div>
</form>
</div>