<meta charset="utf-8"/>
<div class="col-xs-2" id="leftmenu">
				<div class="col-xs-12" style="margin-top: 15px">

				
				<div class="list-group">
					<a href="/visite" class="list-group-item list-group-item-info">Accueil Liste</a>
  					<a href="/ajouterVisite" class="list-group-item list-group-item-info">Ajouter</a>
  					<a href="/modifierVisite" class="list-group-item list-group-item-info">Modifier</a>
  					<a href="/supprimerVisite" class="list-group-item list-group-item-info">Supprimer</a>
  					<a href="/chercherVisite" class="list-group-item list-group-item-info">Chercher</a>
				</div>
				
		</div>
</div>	
		<div class="col-xs-10" id="maincontent">
<h3 align="center">Liste des visites  </h3>

<div class="table-responsive">
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">ID</th>
				<th style="text-align: center">Date</th>
			</tr>
		</thead>
		<tbody ng-repeat="v in visites">
			<tr>
				<td>{{v.id}}</td>
				<td>{{v.date| date :'dd/MM/yyyy'}}</td>
			</tr>

		</tbody>

	</table>

</div>
</div>

