<meta charset="utf-8"/>
<div class="col-xs-2" id="leftmenu">
				<div class="col-xs-12" style="margin-top: 15px">

				
				<div class="list-group">
					<a href="/prop" class="list-group-item list-group-item-info">Accueil Liste</a>
  					<a href="/ajouterProp" class="list-group-item list-group-item-info">Ajouter</a>
  					<a href="/modifierProp" class="list-group-item list-group-item-info">Modifier</a>
  					<a href="/supprimerProp" class="list-group-item list-group-item-info">Supprimer</a>
  					<a href="/chercherProp" class="list-group-item list-group-item-info">Chercher</a>
				</div>
				
		</div>
</div>	
			</div>
	
		<div class="col-xs-10" id="maincontent">
		<h3 align="center">Chercher par un propriétaire </h3>
<br/>

<br/><br/>


<form class="form-inline">
  <div class="form-group" ng-controller="findAllProp">
    <label for="inputIdBien">Choix: </label>
    <select ng-model="propmodif.id">
						<option ng-repeat="p in proprietaires" value="{{p.id}}">{{p.nom}}</option>
					</select>
  </div>
  
 <button type="button" class="btn btn-primary" ng-click="get()">Chercher</button>
</form>
<div ng-show="propretour">
<div class="table-responsive" >
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">ID</th>
				<th style="text-align: center">Nom</th>
				<th style="text-align: center">Adresse</th>
				<th style="text-align: center">Tel 1</th>
				<th style="text-align: center">Tel 2</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{prop.id}}</td>
				<td>{{prop.nom}}</td>
				<td>{{prop.adresse}}</td>
				<td>{{prop.numeroPrive}}</td>
				<td>{{prop.numeroTravail}}</td>
			</tr>

		</tbody>

	</table>
</div>
<div ng-controller="getBienByProp">
<h4>Liste des biens : </h4>
<div class="table-responsive">
			<table class="table table-bordered" style="text-align: center">
				<thead>
					<tr>
						<th style="text-align: center">ID</th>
						<th style="text-align: center">Type</th>
						<th style="text-align: center">Adresse</th>
						<th style="text-align: center">Surface</th>
						<th style="text-align: center">Statut</th>
						<th style="text-align: center">Objectif</th>
					</tr>
				</thead>
				<tbody ng-repeat="b in biens">
					<tr>
						<td>{{b.id}}</td>
						<td>{{b.type}}</td>
						<td>{{b.localisation}}</td>
						<td>{{b.surface}}</td>
						<td>{{b.statut}}</td>
						<td>{{b.objectif}}</td>
						<td>{{b.proprietaire.nom}}</td>
					</tr>
				</tbody>
			</table>
		</div>
</div>



</div>
</div>