<div class="col-xs-2" id="leftmenu">
				<div class="col-xs-12" style="margin-top: 15px">

				
				<div class="list-group">
					<a href="#/bien" class="list-group-item list-group-item-info">Accueil Liste</a>
  					<a href="#/ajouterBien" class="list-group-item list-group-item-info">Ajouter</a>
  					<a href="#/modifierBien" class="list-group-item list-group-item-info">Modifier</a>
  					<a href="#/supprimerBien" class="list-group-item list-group-item-info">Supprimer</a>
  					<a href="#/chercherBien" class="list-group-item list-group-item-info">Chercher</a>
				</div>
				
		</div>
	</div>