<div class="col-xs-2" id="leftmenu">
	<div class="col-xs-12" style="margin-top: 15px">


		<div class="list-group">
			<a href="/bien" class="list-group-item list-group-item-info">Liste</a>
			<a href="/ajouterBien" class="list-group-item list-group-item-info">Ajouter</a>
			<a href="/modifierBien" class="list-group-item list-group-item-info">Modifier</a>
			<a href="/supprimerBien" class="list-group-item list-group-item-info">Supprimer</a>
			<a href="/chercherBien" class="list-group-item list-group-item-info">Chercher</a>
		</div>

	</div>
</div>
<div class="col-xs-10" id="maincontent" style="overflow:auto">
<span ng-show="messageadd" style="color:red">L'opération est un succès</span>
	<p>Quel type de bien voulez-vous enregistrer ?</p>
	<!-- afficher un bien à louer bouton -->
	<button type="button" class="btn btn-primary"
		ng-click="showbal=!showbal;button2=!button2;button3=!button3"
		ng-hide="button1">Ajouter un bien à louer</button>
	<!-- afficher un bien à vendre bouton  -->
	<button type="button" class="btn btn-primary"
		ng-click="showbav=!showbav;button1=!button1;button3=!button3"
		ng-hide="button2">Ajouter un bien à vendre</button>
	<!-- afficher un bien à vendre bouton  -->
	<button type="button" class="btn btn-primary"
		ng-click="showter=!showter;button2=!button2;button1=!button1"
		ng-hide="button3">Ajouter un terrain à vendre</button>
	<!--le formulaire bien à louer ///////////////////////// -->
	<div ng-show="showbal" ng-controller="addBalCtrl">
		<div ng-controller="addBalCtrl">
			<form class="form-horizontal">

				<div class="form-group">
					<label for="inputTypeBien" class="col-sm-3 control-label">Type
						:</label>
					<div class="col-sm-3">
						<select name="inputTypeBien" class="form-control"
							ng-model="bienForm.type" id="inputTypeBien">
							<option value="Maison">Maison</option>
							<option value="Appartement">Appartement</option>
							<option value="Studio">Studio</option>
							<option value="Entrepôt">Entrepôt</option>
							<option value="Emplacement">Emplacement</option>
						</select>
					</div>
					<label for="inputMeubleBien" class="col-sm-2 control-label">Meublé
						:</label>
					<div class="col-sm-3">
						<select name="inputMeubleBien" class="form-control"
							ng-model="bienForm.ameublement" id="inputMeubleBien">
							<option value="Meublé">Meublé</option>
							<option value="Non meublé">Non meublé</option>
						</select>
					</div>



				</div>
				<div class="form-group">
					<label for="inputAdresseBien" class="col-sm-3 control-label">Adresse
						:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputAdresseBien"
							placeholder="44 rue de la Motte, 44000 Nantes"
							ng-model="bienForm.localisation">
					</div>
				</div>
				<div class="form-group">
					<label for="inputRevenuCadBien" class="col-sm-4 control-label">Revenu
						Cadastral :</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="inputRevenuCadBien"
							ng-model="bienForm.revenuCadastral">
					</div>

					<label for="inputSurfaceBien" class="col-sm-3 control-label">Surface
						:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputSurfaceBien"
							ng-model="bienForm.surface">
					</div>

				</div>


				<div class="form-group">
					<label for="inputCautionBien" class="col-sm-4 control-label">Caution:</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="inputCautionBien"
							ng-model="bienForm.montantCaution">
					</div>

					<label for="inputLoyerBien" class="col-sm-3 control-label">Loyer
						:</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="inputLoyerBien"
							ng-model="bienForm.loyerMensuel">
					</div>
				</div>



				<div class="form-group">
					<label for="inputChargeBien" class="col-sm-4 control-label">Charge
						:</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="inputChargeBien"
							ng-model="bienForm.loyerCharge">
					</div>

					<label for="inputBailBien" class="col-sm-3 control-label">Bail:
					</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputBailBien"
							ng-model="bienForm.typeBail">

					</div>
				</div>
				<div class="form-group">
					<label for="inputDsBien" class="col-sm-4 control-label">Date
						de disponibilitée : </label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="inputDsBien"
							ng-model="bienForm.dateDispo">
					</div>
				</div>

				<div class="form-group">
					<label for="inputIdBien" class="col-sm-2 control-label">Propriétaire
						:</label>
					<div class="col-sm-3" ng-controller="findAllProp">
						<select ng-model="bienmodif.propid">
							<option ng-repeat="p in proprietaires" value="{{p.id}}">{{p.nom}}</option>
						</select>
					</div>
				</div>
				<p>
					<i>* Indiquer la surface en m² </br> ** Les prix sont en € TTC
					</i>
				</p>
				<button type="button" class="btn btn-primary" ng-click="ajouter()">Ajouter</button>

			</form>
		</div>
	</div>
	<!--le formulaire bien à vendre ///////////////////////// -->
	<div ng-show="showbav" ng-controller="addBalCtrl">
		<div ng-controller="addBavCtrl">
			<form class="form-horizontal">

				<div class="form-group">
					<label for="inputTypeBien" class="col-sm-3 control-label">Type
						:</label>
					<div class="col-sm-3">
						<select name="inputTypeBien" class="form-control"
							ng-model="bienForm.type" id="inputTypeBien">
							<option value="Maison">Maison</option>
							<option value="Appartement">Appartement</option>
							<option value="Studio">Studio</option>
							<option value="Entrepôt">Entrepôt</option>
							<option value="Emplacement">Emplacement</option>
						</select>
					</div>

					<label for="inputSurfaceBien" class="col-sm-3 control-label">Surface
						:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputSurfaceBien"
							ng-model="bienForm.surface">
					</div>



				</div>
				<div class="form-group">
					<label for="inputAdresseBien" class="col-sm-3 control-label">Adresse
						:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputAdresseBien"
							placeholder="44 rue de la Motte, 44000 Nantes"
							ng-model="bienForm.localisation">
					</div>
				</div>
				<div class="form-group">
					<label for="inputRevenuCadBien" class="col-sm-4 control-label">Revenu
						Cadastral :</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="inputRevenuCadBien"
							ng-model="bienForm.revenuCadastral">
					</div>

					<label for="inputPrixABien" class="col-sm-3 control-label">Prix
						de vente :</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputPrixABien"
							ng-model="bienForm.prixAchat">
					</div>

				</div>

				<div class="form-group">
					<label for="inputEtatBien" class="col-sm-4 control-label">Etat
						:</label>
					<div class="col-sm-4">
						<select name="inputEtatBien" class="form-control"
							ng-model="bienForm.etatBien" id="inputEtatBien">
							<option value="Impeccable">Impeccable</option>
							<option value="Correct">Correct</option>
							<option value="A restaurer">A restaurer</option>

						</select>
					</div>
				</div>




				<div class="form-group">
					<label for="inputDsBien" class="col-sm-4 control-label">Date
						de disponibilitée : </label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="inputDsBien"
							ng-model="bienForm.dateDispo">
					</div>
				</div>

				<div class="form-group">
					<label for="inputIdBien" class="col-sm-2 control-label">Propriétaire
						:</label>
					<div class="col-sm-3" ng-controller="findAllProp">
						<select ng-model="bienmodif.propid">
							<option ng-repeat="p in proprietaires" value="{{p.id}}">{{p.nom}}</option>
						</select>
					</div>
				</div>
				<p>
					<i>* Indiquer la surface en m² </br> ** Les prix sont en € TTC
					</i>

					<button type="button" class="btn btn-primary" ng-click="ajouter()">Ajouter</button>
			</form>
		</div>
	</div>
	<!--le formulaire terrain à vendre ///////////////////////// -->
	<div ng-show="showter" ng-controller="addBalCtrl">
		<div ng-controller="addTerCtrl">
			<form class="form-horizontal">

				<div class="form-group">
					<label for="inputSurfaceBien" class="col-sm-4 control-label">Surface
						:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputSurfaceBien"
							ng-model="bienForm.surface">
					</div>

				</div>
				<div class="form-group">
					<label for="inputAdresseBien" class="col-sm-4 control-label">Adresse
						:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputAdresseBien"
							placeholder="44 rue de la Motte, 44000 Nantes"
							ng-model="bienForm.localisation">
					</div>
				</div>
				<div class="form-group">
					<label for="inputRevenuCadBien" class="col-sm-4 control-label">Revenu
						Cadastral :</label>
					<div class="col-sm-2">
						<input type="number" class="form-control" id="inputRevenuCadBien"
							ng-model="bienForm.revenuCadastral">
					</div>

					<label for="inputPrixABien" class="col-sm-3 control-label">Prix
						de vente :</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputPrixABien"
							ng-model="bienForm.prixAchat">
					</div>

				</div>


				<div class="form-group">
					<label for="inputDsBien" class="col-sm-4 control-label">Date
						de disponibilitée : </label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="inputDsBien"
							ng-model="bienForm.dateDispo">
					</div>
				</div>

				<div class="form-group">
					<label for="inputIdBien" class="col-sm-2 control-label">Propriétaire
						:</label>
					<div class="col-sm-3" ng-controller="findAllProp">
						<select ng-model="bienmodif.propid">
							<option ng-repeat="p in proprietaires" value="{{p.id}}">{{p.nom}}</option>
						</select>
					</div>
				</div>
				<p>
					<i>* Indiquer la surface en ares </br> ** Les prix sont en € TTC
					</i>

					<button type="button" class="btn btn-primary" ng-click="ajouter()">Ajouter</button>
			</form>
		</div>


	</div>

</div>





