<meta charset="utf-8"/>
<div class="col-xs-2" id="leftmenu">
				<div class="col-xs-12" style="margin-top: 15px">

				
				<div class="list-group">
					<a href="/bien" class="list-group-item list-group-item-info">Liste</a>
  					<a href="/ajouterBien" class="list-group-item list-group-item-info">Ajouter</a>
  					<a href="/modifierBien" class="list-group-item list-group-item-info">Modifier</a>
  					<a href="/supprimerBien" class="list-group-item list-group-item-info">Supprimer</a>
  					<a href="/chercherBien" class="list-group-item list-group-item-info">Chercher</a>
				</div>
				
		</div>
</div>	
<div class="col-xs-10" id="maincontent" style="overflow:auto">
<span ng-show="messagedel" style="color:red">L'opération est un succès</span>
<h3 align="center">Suppression d'un bien :</h3>
	<div>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputIdBien" class="col-sm-3 control-label">Choix
					:</label>
				<div class="col-sm-3" ng-controller="findAllBien">
					<select ng-model="bienmodif.id">
						<option ng-repeat="b in biens" value="{{b.id}}">{{b.id}}</option>
					</select>
				</div>
			</div>

			<div class="col-sm-2">
				<button type="button" class="btn btn-primary"
					ng-click="deleteBien()">Supprimer</button>
			</div>
		</form>
	</div>


</div>