<div class="col-xs-2" id="leftmenu">
				<div class="col-xs-12" style="margin-top: 15px">

				
				<div class="list-group">
					<a href="/bien" class="list-group-item list-group-item-info">Liste</a>
  					<a href="/ajouterBien" class="list-group-item list-group-item-info">Ajouter</a>
  					<a href="/modifierBien" class="list-group-item list-group-item-info">Modifier</a>
  					<a href="/supprimerBien" class="list-group-item list-group-item-info">Supprimer</a>
  					<a href="/chercherBien" class="list-group-item list-group-item-info">Chercher</a>
				</div>
				
		</div>
</div>	
<div class="col-xs-10" id="maincontent" style="overflow:auto">

<h3 align="center">Recherche d'un bien :</h3>
	<div>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputIdBien" class="col-sm-2 control-label">Id :</label>
				<div class="col-sm-3" ng-controller="findAllBien">
					<select ng-model="bienmodif.id">
						<option ng-repeat="b in biens" value="{{b.id}}">{{b.id}}</option>
					</select>
				</div>		
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-primary"
					ng-click="getDatBien()">Chercher</button>
			</div>
		</form>
	</div>
<div ng-show="bienretour">
<h3 align="center">Votre bien  :</h3>
	
		<table>
		<tr>
		<td>ID : </td>
		<td>{{b.id}}</td>
		</tr>
		<tr>
		<td>Type : </td>
		<td>{{b.type}}</td>
		</tr>
		<tr>
		<td>Date de soumission : </td>
		<td>{{b.dateSoumission}}</td>
		</tr>
		<tr>
		<td>Date de dispo : </td>
		<td>{{b.dateDispo}}</td>
		</tr>
		<tr>
		<td>Localisation : </td>
		<td>{{b.localisation}}</td>
		</tr>
		<tr>
		<td>Revenu cadastral : </td>
		<td>{{b.revenuCadastral}}</td>
		</tr>
		<tr>
		<td>Surface : </td>
		<td>{{b.surface}}</td>
		</tr>
		<tr>
		<td>Propriétaire : </td>
		<td>{{b.proprietaire.nom}}</td>
		</tr>
		<tr>
		<td>Objectif : </td>
		<td>{{b.objectif}}</td>
		</tr>
		<tr ng-if="b.montantCaution">
		<td ng-if="b.montantCaution">Caution demandée : </td>
		<td ng-if="b.montantCaution">{{b.montantCaution}}</td>
		</tr>
		<tr ng-if="b.loyerMensuel">
		<td ng-if="b.loyerMensuel">Loyer mensuel : </td>
		<td ng-if="b.loyerMensuel">{{b.loyerMensuel}}</td>
		</tr >
		<tr ng-if="b.loyerCharge">
		<td ng-if="b.loyerCharge">Charges : </td>
		<td ng-if="b.loyerCharge">{{b.loyerCharge}}</td>
		</tr>
		<tr ng-if="b.typeBail">
		<td ng-if="b.typeBail">Type de bail : </td>
		<td ng-if="b.typeBail">{{b.typeBail}}</td>
		</tr>
		<tr ng-if="b.ameublement">
		<td ng-if="b.ameublement" >Ameublement : </td>
		<td ng-if="b.ameublement">{{b.ameublement}}</td>
		</tr>
		<tr ng-if="b.prixAchat">
		<td ng-if="b.prixAchat" >Prix de vente : </td>
		<td ng-if="b.prixAchat">{{b.prixAchat}}</td>
		</tr>
		<tr ng-if="b.etatBien">
		<td ng-if="b.etatBien" >Etat du bien : </td>
		<td ng-if="b.etatBien">{{b.etatBien}}</td>
		</tr>
		
		</table>
	</div>


</div>