
<div class="col-xs-2" id="leftmenu">
				<div class="col-xs-12" style="margin-top: 15px">

				
				<div class="list-group">
					<a href="/client" class="list-group-item list-group-item-info">Accueil Liste</a>
  					<a href="/ajouterClient" class="list-group-item list-group-item-info">Ajouter</a>
  					<a href="/modifierClient" class="list-group-item list-group-item-info">Modifier</a>
  					<a href="/supprimerClient" class="list-group-item list-group-item-info">Supprimer</a>
  					<a href="/chercherClient" class="list-group-item list-group-item-info">Chercher</a>
				</div>
				
		</div>
</div>	
		<div class="col-xs-10" id="maincontent">
<h3 align="center">Liste des clients  </h3>

<div class="table-responsive">
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">ID</th>
				<th style="text-align: center">Numero</th>
				<th style="text-align: center">Nom</th>
			</tr>
		</thead>
		<tbody ng-repeat="c in clients">
			<tr>
				<td>{{p.id}}</td>
				<td>{{p.numero}}</td>
				<td>{{p.nom}}</td>
			</tr>

		</tbody>

	</table>

</div>
</div>

