<!DOCTYPE html>
<html ng-app="appImmo">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="scripts/angular.js"></script>
<script type="text/javascript" src="scripts/module.js"></script>
<script type="text/javascript" src="scripts/proprietaire/controlleurProp.js"></script>
<script type="text/javascript" src="scripts/proprietaire/providerProp.js"></script>
<script type="text/javascript" src="scripts/jquery.js"></script>

<!-- Bootstrap libraries-->
<link rel="stylesheet" type="text/css" href="style/bootstrap.css">
<script type="text/javascript" src="scripts/bootstrap.js"></script>
</head>
<body>


<h1 align="center">Test des visites </h1>

<h3 align="center">Ajout d'une visite  </h3>
<div ng-controller="addVisite">

<form class="form-horizontal">

	<div class="form-group">
		<label for="inputDateVisite" class="col-sm-2 control-label">Date :</label>
		<div class="col-sm-6">
			<input type="date" class="form-control" id="inputDateVisite"
				placeholder="Date de la visite" ng-model="propVisite.date">
		</div>
	</div>
	
	<!-- SOUMISSION DU FORMULAIRE -->
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary" ng-click="ajouter()">Ajouter</button>
	</div>
</form>

</div>

<h3 align="center">Modification d'une visite  </h3>
<div ng-controller="updateVisite">

<form class="form-horizontal">

	<div class="form-group">
		<label for="inputIdVisite" class="col-sm-2 control-label">Id :</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" id="inputIdVisit"
				placeholder="Id" ng-model="visiteUpdateForm.id">
		</div>
	</div>
	<div class="form-group">
		<label for="inputDateVisite" class="col-sm-2 control-label">Date :</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" id="inputDateVisite"
				placeholder="Date de la visite" ng-model="visiteUpdateForm.nom">
		</div>
	</div>	
	
	<!-- SOUMISSION DU FORMULAIRE -->
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary" ng-click="update()">Modifier</button>
	</div>
</form>
</div>

<h3 align="center">Chercher par ID  </h3>
<div ng-controller="getVisite">

<form class="form-horizontal">

	<div class="form-group">
		<label for="inputIdVisite" class="col-sm-2 control-label">Id :</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" id="inputIdVisite"
				placeholder="Id" ng-model="id">
		</div>
	</div>

	
	<!-- SOUMISSION DU FORMULAIRE-->
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary" ng-click="get()">Chercher</button>
	</div>
</form>
</div>

<h3 align="center">Suppression d'une visite  </h3>
<div ng-controller="deleteVisite">

<form class="form-horizontal">

	<div class="form-group">
		<label for="inputIdVisite" class="col-sm-2 control-label">Id :</label>
		<div class="col-sm-6">
			<input type="number" class="form-control" id="inputIdVisite"
				placeholder="Id" ng-model="id">
		</div>
	</div>

	
	<!-- SOUMISSION DU FORMULAIRE -->
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary" ng-click="delete()">Supprimer</button>
	</div>
</form>
</div>

<h3 align="center">La liste des visites  </h3>
<div ng-controller="findAllVisite">

<div class="table-responsive">
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">ID</th>
				<th style="text-align: center">Date</th>
			</tr>
		</thead>
		<tbody ng-repeat="v in visites">
			<tr>
				<td>{{v.id}}</td>
				<td>{{v.date}}</td>
			</tr>


		</tbody>



	</table>





</div>
</div>



</body>
</html>