<!DOCTYPE html>
<html ng-app="appImmo">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="scripts/angular.js"></script>
<script type="text/javascript" src="scripts/angular-route.js"></script>
<script type="text/javascript" src="scripts/module.js"></script>
<script type="text/javascript" src="scripts/bien/controlleurBien.js"></script>
<script type="text/javascript" src="scripts/bien/providerBien.js"></script>
<script type="text/javascript" src="scripts/jquery.js"></script>
<!-- script pour le include -->
<script src="https://www.w3schools.com/lib/w3data.js"></script>
<!-- Bootstrap libraries-->
<link rel="stylesheet" type="text/css" href="style/bootstrap.css">
<script type="text/javascript" src="scripts/bootstrap.js"></script>
</head>
<body>

	<p>Test ajout des biens</p>
	<p>Quel type de bien voulez-vous enregistrer ?</p>
	<!-- boutton pour afficher le formulaire Bien à louer -->
	<button type="button" class="btn btn-primary" data-toggle="modal"
		data-target="#formulaireBienLouer" data-whatever="@getbootstrap">Bien
		à louer</button>


	<!-- ///////////////////////////////////// LES fORMULAIRES /////////////////////////////////////// -->
	<!-- ----------- bien à louer -->
<div ng-controller="addBalCtrl">
<form class="form-horizontal">

						<div class="form-group">
							<label for="inputAdresseBien" class="col-sm-3 control-label">Type
								: :</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="inputAdresseBien"
									placeholder="Adresse du bien" ng-model="bienForm.type">
							</div>
						</div>
						<div class="form-group">
							<label for="inputAdresseBien" class="col-sm-3 control-label">Adresse
								:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="inputAdresseBien"
									placeholder="Adresse du bien" ng-model="bienForm.localisation">
							</div>
						</div>
						<div class="form-group">
							<label for="inputRevenuCadBien" class="col-sm-3 control-label">Revenu
								Cadastral :</label>
							<div class="col-sm-6">
								<input type="number" class="form-control"
									id="inputRevenuCadBien" ng-model="bienForm.revenuCadastral">
							</div>
						</div>

						<div class="form-group">
							<label for="inputSurfaceBien" class="col-sm-3 control-label">Surface
								:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="inputSurfaceBien"
									ng-model="bienForm.surface">
							</div>
						</div>

						<div class="form-group">
							<label for="inputCautionBien" class="col-sm-3 control-label">Caution :
								:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="inputCautionBien"
									ng-model="bienForm.montantCaution">
							</div>
						</div>

						<div class="form-group">
							<label for="inputLoyerBien" class="col-sm-3 control-label">Loyer
								:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="inputLoyerBien"
									ng-model="bienForm.loyerMensuel">
							</div>
						</div>

						<div class="form-group">
							<label for="inputChargeBien" class="col-sm-3 control-label">Charge
								:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="inputChargeBien"
									ng-model="bienForm.loyerCharge">
							</div>
						</div>

						<div class="form-group">
							<label for="inputBailBien" class="col-sm-3 control-label">Bail:
								:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="inputBailBien"
									ng-model="bienForm.typeBail">
							</div>
						</div>

						<div class="form-group">
							<label for="inputBailBien" class="col-sm-3 control-label">Bail:
								:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="inputBailBien"
									ng-model="bienForm.ameublement">
							</div>
						</div>
						<button type="button" class="btn btn-primary"
							ng-click="ajouter()">Ajouter</button>
					</form>
</div>

</body>
</html>