<div class="col-xs-2" id="leftmenu">
				<div class="col-xs-12" style="margin-top: 15px">

				
				<div class="list-group">
					<a href="/prop" class="list-group-item list-group-item-info">Accueil Liste</a>
  					<a href="/ajouterProp" class="list-group-item list-group-item-info">Ajouter</a>
  					<a href="/modifierProp" class="list-group-item list-group-item-info">Modifier</a>
  					<a href="/supprimerProp" class="list-group-item list-group-item-info">Supprimer</a>
  					<a href="/chercherProp" class="list-group-item list-group-item-info">Chercher</a>
				</div>
				
		</div>
</div>	
		<div class="col-xs-10" id="maincontent">
<h3 align="center">Liste des contrats  </h3>

<div class="table-responsive">
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">ID</th>
				<th style="text-align: center">Prix</th>
				<th style="text-align: center">Date</th>
				<th style="text-align: center">Reference</th>
			</tr>
		</thead>
		<tbody ng-repeat="p in contrats">
			<tr>
				<td>{{p.id}}</td>
				<td>{{p.prix}}</td>
				<td>{{p.date}}</td>
				<td>{{p.reference}}</td>
			</tr>

		</tbody>

	</table>

</div>
</div>